#did-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#did-manager-modal-loader {
    position: absolute;
}


.nav-tabs .nav-item {
      position: relative;
    }

.nav-tabs .nav-item button {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-tabs .nav-item:hover button {
  display: inline-block;
}